body {
    margin: 0;
    background: linear-gradient(to right,rgb(170,68,176), rgb(231,64,154));
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
div {
    display: flex;
    align-items: center;
    height: 100%;
    margin: auto;
    justify-content: center;
}

form, main {
    background: white;
    width: 80%;
    max-width: 500px;
    border-radius: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}
h1 {
    width: fit-content;
    margin: 20px auto;
    text-align: center;
    margin-bottom: 30px;
}
input {
    width:80%;
    margin: 10px 0;
    padding: 10px;
    border: thin solid rgb(170,68,176);
    outline: none;
    background-color: white !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
input:focus{
    background-color: white !important;
    outline: thin solid rgb(170,68,176);
}
.btn2 {
    display: block;
    margin: 20px auto;
    width: calc(80% + 20px);
    font-weight: 700;
    padding: 10px;
    background: linear-gradient(to right,rgb(170,68,176), rgb(231,64,154));
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}
.btn2:hover {
    box-shadow: 1px 1px 10px 1px rgb(170,68,176);
}
.btn2:active {
    scale: 0.9;
}
#password {
    position: relative;
    border-right: none;
    width: calc(80% - 37px);
}
.cont {
    display: flex;
    align-items: center;
    width: 100% !important;
    width: fit-content;
    margin: 10px 0;

}
.btn1 {
    height: 37px;
    width: 37px;
    background-color: white;
    border: none;
    border: thin solid rgb(170,68,176);
    border-left: none;
    outline: none;
}
.btn {
    top: 304px;
}
#password:focus {
    outline: none !important;
}
button i {
    font-size: 15px;
    color: rgb(170,68,176);
}
p {
    text-align: center;
    color: black;
    font-weight: 700;
}
a {
    color: rgb(231,64,154);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
@media(max-width:500px) {
    #password {
        width: calc(80% - 37px);
    }
}